<div class="wrapper">
  
    <div class="title">
      <h2>{{proto.name}}</h2>
    </div>
  
  
  
    <div class="description">
      <p>{{proto.about}}</p>
      <a href="{{proto.webglURL}}">Play it online!</a>
      <a href="{{proto.build}}">Download it!</a>
    </div>
  
    <div class="pdf" >
      <img style="max-height: 25rem; border: solid thin black;" src="{{proto.largeImage}}" alt="Card image cap">
    </div>

    <div class="controller" >
      <p>{{proto.controller}}</p>
    </div>
    <div class="keyboard" >
      <p>{{proto.keyboard}}</p>
    </div>
  
  </div>