@media screen and (min-width: 50px){
    .wrapper{
        grid-template-columns: 1fr ;
        grid-template-areas: "title"
                            "logo"
                            "description"
                            "pdf";
        }
}    

@media screen and (min-width: 601px){
    .wrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "title title"
                            "logo description"
                            "pdf pdf";
        }
}

@media screen and (min-width: 1000px){   
    .wrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "title title"
                            "logo pdf"
                            "description pdf";
        }  
}
  
.wrapper{
    display:grid;
    grid-gap: 1em;
    margin-bottom: 1em;
    width: inherit;
}

.pdf {
    grid-area: pdf;
 
}
.title {
    grid-area: title;
    text-align: center;
   
}
.logo {
    grid-area: logo;
    justify-self: start;
}
.description {
    grid-area: description;
    text-align: left;
    white-space: pre;
}

.oframe
{
    width:"500px";
    height:"500px";
}