
.container {
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer-grid {
    display: grid;
    grid-gap: 1em;
    margin-left: 30px;
    grid-template-columns: 1fr 4fr;
}

.masthead {
    grid-area: header;
    text-align: center;
    background-image: url("/assets/images/abw1.jpg");
    background-size: 100%;
    
    max-width: 100%;
    background-repeat: no-repeat;
    height: 100%; width: 100%; object-fit: fill;
}

.main {
    grid-area: main;
    text-align: center;
    max-width: 100%;
}
.sidebar {
    grid-area: sidebar;
}
.footer {
    grid-area: footer;
    border-top: thin solid black;
}