/* You can add global styles to this file, and also import other style files */
body
{
    background-color:#E8E6E6;
    background-image: url("/assets/images/background.png");
    background-size: contain;
}